{
    "tabWidth": 2,
    "semi": true,
    "singleQuote": true,
    "printWidth": 90,
    "plugins": [
      "./node_modules/prettier-plugin-svelte",
      "prettier-plugin-tailwindcss"
    ],
    "pluginSearchDirs": false,
    "svelteSortOrder": "scripts-markup-styles",
    "svelteStrictMode": false,
    "svelteBracketNewLine": true
  }